<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <img class="img-fluid" src="/images/main_image.jpg" alt=""/>
            <div class="container header">
                <% if(currentUser) { %>
                    <h1>Welcome, <%=currentUser.username%>.</h1>
                    <a class="btn btn-light btn-lg get-started" href="/sessions/">Log Out</a>
                    <a class="btn btn-light btn-lg get-started" href="/ally">Get Started</a>
                <% } else { %>
                    <h1>Welcome to StressAlly</h1>
                    <h3>Everyone Needs An Ally Once In A While</h3>
                    <a href="/users/new" class="btn btn-light btn-lg get-started">Sign Up</a>
                    <a href="/sessions/new" class="btn btn-light btn-lg get-started">Log In</a>
                    <!-- <a href="/ally">
                        <button class="btn btn-light btn-lg get-started" type="button" name="get-started">Get Started</button>
                    </a> -->
                <% } %>
            </div>
        </div>
        <div class="container main">
            <div class="jumbotron">
                <h4>Headline</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="container content">
                <div class="row">
                    <div class="col-sm">
                        <h5>Header</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="col-sm">
                        <h5>Header</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="col-sm">
                        <h5>Header</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
