<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <img class="img-fluid" src="/images/main_image.jpg" alt=""/>
            <div class="container header">
                <% if (currentUser) { %>
                    <h1>Welcome, <%=currentUser.username%></h1>
                    <a class="btn btn-light btn-lg get-started" href="/ally">Get Started</a>
                    <form class="logout" action="/sessions?_method=DELETE" method="POST">
                        <input class="btn btn-light btn-lg get-started" type="submit" value="Log Out">
                    </form>
                <% } else { %>
                    <h1>Welcome to StressAlly</h1>
                    <h3>Everyone Needs An Ally Once In A While</h3>
                    <a href="/users/new" class="btn btn-light btn-lg get-started">Sign Up</a>
                    <a href="/sessions/new" class="btn btn-light btn-lg get-started">Log In</a>
                    <!-- <a href="/ally">
                        <button class="btn btn-light btn-lg get-started" type="button" name="get-started">Get Started</button>
                    </a> -->
                <% } %>
            </div>
        </div>
        <div class="container main">
            <div class="jumbotron">
                <h4 class="display-4">Stressed or Anxious?</h4>
                <hr class="my-4">
                <p class="lead">If you're stressed out or anxious, use this tool to track how you're feeling on a daily basis, set goals to overcome stressors, and keep yourself active.</p>
            </div>
            <div class="container content">
                <div class="row">
                    <div class="col-sm">
                        <h5>Track Your Progress</h5>
                        <p>If you suffer from anxiety, chances are there are specific factors contributing to your stress level. Use this tool to keep track of these factors and avoid what makes you stressed.</p>
                    </div>
                    <div class="col-sm">
                        <h5>Set Some Goals</h5>
                        <p>Trying to work through an anxious situation? Set goals for yourself and work through stressful situations and fears.</p>
                    </div>
                    <div class="col-sm">
                        <h5>Keep Active</h5>
                        <p>Log in daily and tackle a new activity or exercise. Keeping active, meditating, and exercising will keep anxiety at bay.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
