<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <!-- ADD IMAGE HERE -->
            <div class="container header">
                <h1 class="display-3">Welcome to StressAlly!</h1>
                <h3>Everyone Needs An Ally Once In A While</h3>
                <a href="/ally"><button class="btn btn-outline-primary btn-lg get-started" type="button" name="get-started">Get Started</button></a>
            </div>
        </div>
        <div class="container main">
            <div class="jumbotron">
                <h4>Headline</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
            </div>
            <div class="container content">
                <div class="row">
                    <div class="col-sm">
                        <h5>Header</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="col-sm">
                        <h5>Header</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <div class="col-sm">
                        <h5>Header</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer navbar-fixed-bottom">
            Made By Molly Stone
        </div>
    </body>
</html>
