/* * {
    border: 1px solid orange;
} */

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.top {
    height: 500px;
    overflow: hidden;
    position: relative;
    padding: 0;
    color: white;
    margin-bottom: 3em;
}

h1 {
    font-size: 5em;
}

img {
    position: absolute;
}

.header {
    margin-top: 75px;
    position: relative;
    padding-left: 4em;
}

.get-started {
    margin: 3em 0;
    padding: 1em 3em;
}

.complete-activity {
    display: inline;
    margin-right: 20px;
}

.main {
    padding: 0;
}

.jumbotron {
    margin: 0 3em 2em 3em;
}

.content {
    padding-top: 2.5em;
}

.col-sm {
    margin-bottom: 3em;
}

.col-sm-3 {
    margin: 0 2em;
}

.card {
    width: 18em;
}
