<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <img class="img-fluid" src="/images/main_image.jpg" alt=""/>
            <form class="logout-small" action="/sessions?_method=DELETE" method="POST">
                <input class="btn btn-light btn-sm" type="submit" value="Log Out">
            </form>
            <div class="container header">
                <h1>Your Entries</h1>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate illo sapiente, tempore tempora, laudantium repellendus modi quaerat veniam reprehenderit.</h5>
                <a href="/ally"><button class="btn btn-light btn-lg back-to-main" type="button" name="back">Back To Main</button></a>
            </div>
        </div>
        <div class="container">
            <ul>
                <% for (let i = 0; i < entries.length; i++) { %>
                    <li>
                        <a href="/ally/<%=entries[i].id%>">
                            Date: <%=entries[i].date%> |
                            <b>Rating: <%=entries[i].rating%></b>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
    </body>
</html>
