<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <div class="container header">
                <h1>Your Entries</h1>
            </div>
        </div>
        <div class="container">
            <ul>
                <% for (let i = 0; i < entries.length; i++) { %>
                    <li>
                        <a href="/ally/<%=entries[i].id%>">
                            Date: <%=entries[i].date%>
                            Rating: <%=entries[i].rating%>
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>
        <a href="/ally"><button type="button" name="back">Back To Main</button></a>
    </body>
</html>
