<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <!-- ADD IMAGE HERE -->
            <div class="row header">
                <div class="col-md goal">
                    <h1 class="display-3">I want to:</h1>
                    <% if (goals.length) { %>
                        <% for (let i = goals.length; i > goals.length - 1; i--) { %>
                            <% if (goals[goals.length - 1].completed === false) { %>
                                <h2><%=goals[goals.length - 1].description%></h2>
                                <form action="/ally/complete-goal/<%=goals[goals.length - 1].id%>?_method=PUT" method="POST">
                                    <button type="submit" name="completed">Goal Completed</button>
                                </form>
                            <% } else { %>
                                <h2>set a new goal</h2>
                                <a href="/ally/new-goal"><button type="button" name="new-goal">New Goal</button></a>%>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <h2>set a new goal</h2>
                        <a href="/ally/new-goal"><button type="button" name="new-goal">New Goal</button></a>%>
                    <% } %>
                </div>
                <div class="col-md activity">
                    <h1 class="display-3">My next activity:</h1>
                    <% if (activities.length) { %>
                        <% for (let i = 0; i < activities.length; i++) { %>
                            <% if (activities[i].active === true) { %>
                                <h2><%=activities[i].name%></h2>
                                <form action="/ally/activity/complete-activity/<%=activities[i].id%>?_method=PUT" method="POST">
                                    <button type="submit" name="completed">Activity Completed</button>
                                </form>
                            <% } %>
                        <% } %>
                    <% } else { %>
                        <h2>choose one</h2>
                        <a href="/ally/new-activity"><button>New Activity</button></a>
                    <% } %>
                    <a href="/ally/new-activity"><button>New Activity</button></a>
                </div>
            </div>

        </div>
        <div class="container content">
            <div class="row">
                <div class="col-sm">
                    <h5>New Entry</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a href="/ally/new-entry"><button type="button" name="new-entry">New Entry</button></a>
                </div>
                <div class="col-sm">
                    <h5>View Entries</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a href="/ally/entries"><button type="button" name="entries">Your Entries</button></a>
                </div>
                <div class="col-sm">
                    <h5>Completed Goals</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <a href="/ally/completed-goals"><button type="button" name="goals">Completed Goals</button></a>
                </div>
            </div>



            <!-- <a href="#"><button type="button" name="resources">Your Resources</button></a> -->
        </div>
        <div class="footer navbar-fixed-bottom">
            Made By Molly Stone
        </div>
    </body>
</html>
