<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <!-- ADD IMAGE HERE -->
            <div class="goal">
                <h1>What's Your Goal?</h1>
                <!-- EJS CONDITIONALS -->
                <form class="">
                    <button type="submit" name="completed">Goal Completed</button>
                </form>
                <form class="">
                    <button type="submit" name="new-goal">New Goal</button>
                </form>
            </div>
            <div class="activity">
                <h1>What Activity Will You Do Today?</h1>
                <!-- EJS CONDITIONALS -->
                <form class="">
                    <button type="submit" name="completed">Activity Completed</button>
                </form>
                <form class="">
                    <button type="submit" name="new-activity">New Activity</button>
                </form>
            </div>
        </div>
        <div class="container">
            <a href="/ally/new-entry"><button type="button" name="new-entry">New Entry</button></a>
            <a href="#"><button type="button" name="entries">Your Entries</button></a>
            <a href="#"><button type="button" name="goals">Completed Goals</button></a>
            <a href="#"><button type="button" name="resources">Your Resources</button></a>
        </div>
    </body>
</html>
