<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script type="text/javascript" src="../js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- ADD IMAGE HERE -->
            <div class="goal">
                <h1>I want to:</h1>
                <% if (goals.length) { %>
                    <% for (let i = goals.length; i > goals.length - 1; i--) { %>
                        <% if (goals[goals.length - 1].completed === false) { %>
                            <h2><%=goals[goals.length - 1].description%></h2>
                            <form action="/ally/<%=goals[goals.length - 1].id%>/complete-goal?_method=PUT" method="POST">
                                <button type="submit" name="completed">Goal Completed</button>
                            </form>
                        <% } else { %>
                            <h2>set a new goal</h2>
                            <a href="/ally/new-goal"><button type="button" name="new-goal">New Goal</button></a>%>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <h2>set a new goal</h2>
                    <a href="/ally/new-goal"><button type="button" name="new-goal">New Goal</button></a>%>
                <% } %>
            </div>
            <div class="activity">
                <h1>My next activity:</h1>
                <% if (activities.length) { %>
                    <% for (let i = 0; i < activities.length; i++) { %>
                        <% if (activities[i].active === true) { %>
                            <h2><%=activities[i].name%></h2>
                            <form class="">
                                <button type="submit" name="completed">Activity Completed</button>
                            </form>
                            <% break %>
                        <% } %>
                    <% } %>
                    <h2>choose new activity</h2>
                    <a href="/ally/new-activity"><button type="submit" name="new-activity">New Activity</button></a>
                <% } %>
            </div>
        </div>
        <div class="container">
            <a href="/ally/new-entry"><button type="button" name="new-entry">New Entry</button></a>
            <a href="/ally/entries"><button type="button" name="entries">Your Entries</button></a>
            <a href="/ally/completed-goals"><button type="button" name="goals">Completed Goals</button></a>
            <!-- <a href="#"><button type="button" name="resources">Your Resources</button></a> -->
        </div>
    </body>
</html>
