<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Your Activities</h1>
        </div>
        <div class="container">
            <h3>Add a new activity</h3>
            <form class="" action="/ally/new-activity" method="POST">
                <input type="text" name="name" placeholder="activity name">
                <input type="submit" name="" value="create">
            </form>
            <h3>Choose an activity</h3>
            <% for (let i = 0; i < activities.length; i++) { %>
                <form action="index.html" method="POST">
                    <input type="submit" name="active" value="<%=activities[i].name%>"/>
                </form>
            <% } %>
        </div>
    </body>
</html>
