<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <img class="img-fluid" src="/images/green_wave.jpg" alt=""/>
            <div class="container header">
                <h1>Your Completed Goals</h1>
                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate illo sapiente, tempore tempora, laudantium repellendus modi quaerat veniam reprehenderit.</h5>
                <a href="/ally"><button class="btn btn-light btn-lg back-to-main" type="button" name="back">Back To Main</button></a>
            </div>
        </div>
        <div class="container">
            <ul>
                <% for (let i = 0; i < goals.length; i++) { %>
                    <% if (goals[i].completed === true) { %>
                        <li>
                            Description: <%=goals[i].description%>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </body>
</html>
