<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container top">
            <img class="img-fluid" src="/images/main_image.jpg" alt=""/>
            <div class="container header">
                <h1>Sign Up</h1>
            </div>
        </div>
        <div class="container">
            <form class="sign-up-log-in" action="/users" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input name="username" type="text" class="form-control" placeholder="username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password"/>
                </div>
                <input type="submit" class="btn btn-info" value="Submit"/>
            </form>
            <a href="/"><button class="btn btn-outline-info">Back</button></a>
        </div>
    </body>
</html>
